body {
  font-family: monospace;
  background: #0e0e0e;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 420px 1fr;
  gap: 24px;
  align-items: inherit;
}

.box {
  background: #1a1a1a;
  border: 2px solid #333;
  padding: 20px;
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
}

h2 {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 8px 0;
  color: #bbb;
  letter-spacing: 1px;
}

label {
  font-size: 12px;
  color: #aaa;
}

select,
input,
button {
  background: #0e0e0e;
  border: 1px solid #444;
  color: #e0e0e0;
  padding: 4px 6px;
  font-family: monospace;
  font-size: 12px;
  outline: none;
}

select:focus,
input:focus {
  border-color: #888;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #666;
  background: #111;
}

button:hover {
  background: #222;
}

#output {
  background: #0e0e0e;
  border: 1px solid #333;
  padding: 8px;
  font-size: 11px;
  word-wrap: break-word;
  margin-top: 6px;
}

.image-box {
  border: 2px solid #333;
  background: #0e0e0e;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  max-height: 800px;
  /* width: auto; */
}

.image-box img {
  width: 100%;
  height: auto;
  object-fit: contain;
  /* border: 1px solid #222 */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); */
}

footer {
  font-size: 12px;
  color: #666;
  text-align: center;
  margin-top: 20px;
  width: 380px;
  line-height: 1.4;
}
